#commoncities {
    padding: 10px;
    margin: 10px;
}
.card-subtitle {
    padding: 10px;
}
#cityTitle {
    padding: 30px;
}
.container {
    background-attachment: fixed;
    background-image: url("https://cdn.pixabay.com/photo/2020/03/04/21/39/palma-4902795_1280.jpg")
}
#background {
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.jumbotron {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}